n8n/workflow-craigslist.json
{
  "name": "Scrape Craigslist NYC Apartments",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const puppeteer = require('puppeteer-extra');\nconst StealthPlugin = require('puppeteer-extra-plugin-stealth');\npuppeteer.use(StealthPlugin());\n\nconst https = require('https');\n\n// Fetch free proxy list\nconst fetchProxies = () => new Promise((resolve) => {\n  https.get('https://api.proxyscrape.com/v4/free-proxy-list/get?request=display_proxies&protocol=http&proxy_format=protocolipport&format=text&anonymity=elite,anonymous&timeout=5000&country=us,ca,gb,de,fr,nl', (res) => {\n    let data = '';\n    res.on('data', (chunk) => data += chunk);\n    res.on('end', () => {\n      const proxies = data.split('\\n').map(p => p.trim()).filter(p => p.startsWith('http'));\n      resolve(proxies.slice(0, 15));\n    });\n  }).on('error', () => resolve([]));\n});\n\nconst proxies = await fetchProxies();\n\nconst tryWithProxy = async (proxy) => {\n  const args = [\n    '--no-sandbox',\n    '--disable-setuid-sandbox',\n    '--disable-dev-shm-usage',\n    '--disable-blink-features=AutomationControlled'\n  ];\n  if (proxy) args.push(`--proxy-server=${proxy}`);\n\n  const browser = await puppeteer.launch({\n    headless: 'new',\n    executablePath: process.env.PUPPETEER_EXECUTABLE_PATH || '/usr/bin/chromium-browser',\n    args\n  });\n\n  try {\n    const page = await browser.newPage();\n    await page.setViewport({ width: 1366, height: 768 });\n    await page.setExtraHTTPHeaders({ 'Accept-Language': 'en-US,en;q=0.9' });\n\n    const url = 'https://newyork.craigslist.org/search/new-york-city-ny/apa?max_price=4000&query=rent+stabilized+OR+lease+takeover+OR+stabilized';\n    const resp = await page.goto(url, { waitUntil: 'domcontentloaded', timeout: 25000 });\n    if (!resp || resp.status() === 403) throw new Error('403 blocked');\n\n    // Wait for page to finish rendering\n    await new Promise(r => setTimeout(r, 2000));\n\n    // CL now embeds JSON-LD structured data — extract it\n    const items = await page.evaluate(() => {\n      const results = [];\n      const scripts = document.querySelectorAll('script[type=\"application/ld+json\"]');\n      \n      for (const script of scripts) {\n        try {\n          const data = JSON.parse(script.textContent);\n          // Look for ItemList with ListItem entries\n          if (data['@type'] === 'ItemList' && data.itemListElement) {\n            for (const entry of data.itemListElement) {\n              const item = entry.item;\n              if (!item || !item.url) continue;\n              \n              const fullUrl = item.url.startsWith('http') ? item.url : `https://newyork.craigslist.org${item.url}`;\n              const title = item.name || '';\n              const bedrooms = item.numberOfBedrooms != null ? parseInt(item.numberOfBedrooms, 10) : null;\n              const bathrooms = item.numberOfBathroomsTotal != null ? parseFloat(item.numberOfBathroomsTotal) : null;\n              const lat = item.latitude ? parseFloat(item.latitude) : null;\n              const lng = item.longitude ? parseFloat(item.longitude) : null;\n              \n              // Parse price from title or other fields\n              const priceMatch = title.match(/\\$([\\d,]+)/);\n              const price = priceMatch ? parseInt(priceMatch[1].replace(/,/g, ''), 10) : null;\n              \n              // Parse sqft from title\n              const sqftMatch = title.match(/(\\d+)\\s*ft/i);\n              const sqft = sqftMatch ? parseInt(sqftMatch[1], 10) : null;\n              \n              // Neighborhood from address or title\n              let neighborhood = null;\n              if (item.address) {\n                neighborhood = item.address.addressLocality || item.address.addressRegion || null;\n              }\n              if (!neighborhood) {\n                const parts = title.split(' - ');\n                if (parts.length > 1) neighborhood = parts[parts.length - 1].trim();\n              }\n              \n              // Extract CL post ID from URL\n              const pidMatch = fullUrl.match(/(\\d+)\\.html/);\n              const externalId = pidMatch ? pidMatch[1] : null;\n              \n              // Posted date\n              const postedAt = item.datePosted || null;\n              \n              results.push({\n                url: fullUrl,\n                title,\n                price,\n                bedrooms,\n                bathrooms,\n                sqft,\n                neighborhood,\n                latitude: lat,\n                longitude: lng,\n                externalId,\n                postedAt\n              });\n            }\n          }\n          // Also handle single Apartment items\n          if (data['@type'] === 'Apartment' && data.url) {\n            results.push({\n              url: data.url,\n              title: data.name || '',\n              price: null,\n              bedrooms: data.numberOfBedrooms ? parseInt(data.numberOfBedrooms, 10) : null,\n              bathrooms: data.numberOfBathroomsTotal ? parseFloat(data.numberOfBathroomsTotal) : null,\n              sqft: null,\n              neighborhood: data.address?.addressLocality || null,\n              latitude: data.latitude ? parseFloat(data.latitude) : null,\n              longitude: data.longitude ? parseFloat(data.longitude) : null,\n              externalId: null,\n              postedAt: data.datePosted || null\n            });\n          }\n        } catch (e) { /* skip invalid JSON-LD blocks */ }\n      }\n      \n      // Fallback: if no JSON-LD, try HTML selectors\n      if (results.length === 0) {\n        const rows = document.querySelectorAll('.cl-static-search-result, .result-row, li.cl-static-search-result, li[data-pid], .cl-search-result');\n        rows.forEach(row => {\n          const anchor = row.querySelector('a[href]');\n          if (!anchor) return;\n          const href = anchor.getAttribute('href');\n          if (!href) return;\n          const fullUrl = href.startsWith('http') ? href : `https://newyork.craigslist.org${href}`;\n          const titleEl = row.querySelector('.titlestring, .posting-title, .result-title, .title');\n          const title = titleEl?.textContent?.trim() || anchor.textContent?.trim() || '';\n          const priceEl = row.querySelector('.priceinfo, .result-price, .price');\n          const priceText = priceEl?.textContent || '';\n          const pm = priceText.match(/\\$([\\d,]+)/);\n          results.push({\n            url: fullUrl,\n            title,\n            price: pm ? parseInt(pm[1].replace(/,/g, ''), 10) : null,\n            bedrooms: null,\n            bathrooms: null,\n            sqft: null,\n            neighborhood: null,\n            latitude: null,\n            longitude: null,\n            externalId: null,\n            postedAt: null\n          });\n        });\n      }\n      \n      return results;\n    });\n\n    await browser.close();\n    return items;\n  } catch (err) {\n    await browser.close();\n    throw err;\n  }\n};\n\n// Try direct first, then proxies\nlet items = [];\nconst attempts = [null, ...proxies];\nlet lastError = '';\n\nfor (const proxy of attempts) {\n  try {\n    items = await tryWithProxy(proxy);\n    if (items.length > 0) break;\n  } catch (err) {\n    lastError = `${proxy || 'direct'}: ${err.message}`;\n    continue;\n  }\n}\n\nif (items.length === 0) {\n  return [{ json: { _skip: true, error: lastError || 'No results from any proxy', proxies_tried: attempts.length } }];\n}\n\n// Determine borough from neighborhood\nconst output = items.map(l => {\n  let borough = null;\n  const nh = (l.neighborhood || l.title || '').toLowerCase();\n  if (/manhattan|midtown|harlem|village|soho|tribeca|chelsea|uws|ues|les|fidi|murray hill|gramercy|hells kitchen|upper east|upper west|lower east|east village|west village|nolita|chinatown|flatiron|kips bay/.test(nh)) borough = 'Manhattan';\n  else if (/brooklyn|williamsburg|bushwick|bed-stuy|bedford|park slope|crown heights|greenpoint|flatbush|dumbo|prospect|sunset park|bay ridge|bensonhurst|cobble hill|boerum|carroll gardens|red hook|fort greene|clinton hill/.test(nh)) borough = 'Brooklyn';\n  else if (/queens|astoria|lic|long island city|flushing|jackson heights|elmhurst|woodside|sunnyside|ridgewood|forest hills|rego park|jamaica|kew gardens/.test(nh)) borough = 'Queens';\n  else if (/bronx|riverdale|fordham|mott haven|concourse|pelham|kingsbridge|morris/.test(nh)) borough = 'Bronx';\n  else if (/staten island|st george|tottenville/.test(nh)) borough = 'Staten Island';\n\n  return {\n    json: {\n      source: 'craigslist',\n      external_id: l.externalId,\n      url: l.url,\n      title: l.title,\n      price: l.price,\n      bedrooms: l.bedrooms,\n      bathrooms: l.bathrooms,\n      sqft: l.sqft,\n      neighborhood: l.neighborhood,\n      borough,\n      latitude: l.latitude,\n      longitude: l.longitude,\n      posted_at: l.postedAt ? new Date(l.postedAt).toISOString() : null,\n      is_active: true\n    }\n  };\n});\n\nreturn output;"
      },
      "id": "scrape_cl",
      "name": "Scrape Craigslist (Stealth + Proxy)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEqual" }
            }
          ]
        }
      },
      "id": "filter_empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scraped_listing (source, external_id, url, title, price, bedrooms, bathrooms, sqft, neighborhood, borough, latitude, longitude, posted_at, is_active, last_seen_at, raw_data) VALUES ('{{ $json.source }}', {{ $json.external_id ? \"'\" + $json.external_id + \"'\" : 'NULL' }}, '{{ $json.url.replace(/'/g, \"''\") }}', '{{ $json.title.replace(/'/g, \"''\") }}', {{ $json.price || 'NULL' }}, {{ $json.bedrooms ?? 'NULL' }}, {{ $json.bathrooms ?? 'NULL' }}, {{ $json.sqft || 'NULL' }}, {{ $json.neighborhood ? \"'\" + $json.neighborhood.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.borough ? \"'\" + $json.borough + \"'\" : 'NULL' }}, {{ $json.latitude || 'NULL' }}, {{ $json.longitude || 'NULL' }}, {{ $json.posted_at ? \"'\" + $json.posted_at + \"'\" : 'NULL' }}, true, now(), '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb) ON CONFLICT (url) DO UPDATE SET external_id = COALESCE(EXCLUDED.external_id, scraped_listing.external_id), title = EXCLUDED.title, price = COALESCE(EXCLUDED.price, scraped_listing.price), bedrooms = COALESCE(EXCLUDED.bedrooms, scraped_listing.bedrooms), bathrooms = COALESCE(EXCLUDED.bathrooms, scraped_listing.bathrooms), sqft = COALESCE(EXCLUDED.sqft, scraped_listing.sqft), neighborhood = COALESCE(EXCLUDED.neighborhood, scraped_listing.neighborhood), borough = COALESCE(EXCLUDED.borough, scraped_listing.borough), latitude = COALESCE(EXCLUDED.latitude, scraped_listing.latitude), longitude = COALESCE(EXCLUDED.longitude, scraped_listing.longitude), posted_at = COALESCE(EXCLUDED.posted_at, scraped_listing.posted_at), is_active = true, last_seen_at = now(), raw_data = EXCLUDED.raw_data, updated_at = now()",
        "options": {}
      },
      "id": "insert_db",
      "name": "Upsert to Neon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 0],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Neon PostgreSQL" }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": { "main": [[{ "node": "Scrape Craigslist (Stealth + Proxy)", "type": "main", "index": 0 }]] },
    "Scrape Craigslist (Stealth + Proxy)": { "main": [[{ "node": "Filter Empty", "type": "main", "index": 0 }]] },
    "Filter Empty": { "main": [[{ "node": "Upsert to Neon", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
